@model IQueryable<AdminPanel.Models.Category>


@{
    ViewBag.Title = "LoggedIn";
}

@if(Session["UserID"] !=null)
{
    <h4>Hello @Session["Username"].ToString()</h4>

    foreach(var category in Model)
    {
        <p>@category.Name</p>
    }


}



