@model List<AdminPanel.Models.Restaurant>


@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


<div class="widget blog-tags">
    <h5>Etiketler</h5>
    <ul>
        @foreach (var restaurant in Model)
        {
            <li>@restaurant.User_Name</li>
        }


    </ul>
</div>



